body{
    font-family: 'Times New Roman', Times, serif;
    background-color: darkolivegreen;
}

div{
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 10px;
}

input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

button{
    background-color: darkcyan;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
}

button:hover{
    background-color: cyan;
    cursor: pointer;
}