p{
  text-align: justify;
  color: #ffffff;
  
}

body,h1{
    text-align: center;
    color: #fdfdfd;
    background-color: darkolivegreen;
}

p{
  text-align: justify;
  font-size: mediums;
  font-family: Arial Narrow Bold;
  
}