body,h1{
  text-align: center;
  color: #ffffff;
  background-color: darkolivegreen;
}

p{
  text-align: justify;
  font-size: mediums;
  font-family: Arial Narrow Bold;
  color: #ffffff;
}